<th:block th:fragment="footer">
    <footer class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="logo col-md-3 col-12 text-md-left text-center"><img class="img-fluid" th:src="@{/image/logo-white.png}" alt="logo"/></div>
                <div class="footer-link col-md-9 col-12">
                    <div class="footer-menu d-flex justify-content-md-end align-items-center flex-md-row flex-column">
                        <select id="languageSelect">
                            <option th:selected="__${#locale}__=='vi'" th:text="#{ common.label.vietnamese }" value="vi"></option>
                            <option th:selected="__${#locale}__=='en'" th:text="#{ common.label.english }" value="en"></option>
                        </select>
                        <a class="item" href="/hoi-dap" th:text="#{ common.label.faq }"></a>
                        <a class="item" href="/dieu-khoan" th:text="#{ common.label.policy }"></a>
                        <a class="item" href="/chinh-sach" th:text="#{ common.label.tearms }"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="top-header container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 content"><a target="_blank" th:href="#{ common.addr.tel }" th:text="#{ common.label.hotline }"></a>
                    <div class="social-icon">
                        <a th:href="#{ common.addr.facebook }"><i class="fab fa-facebook-square"></i></a>
                        <a th:href="#{ common.addr.instagram }"><i class="fab fa-instagram"></i></a>
                        <a th:href="#{ common.addr.pinterest }"><i class="fab fa-pinterest-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

