<th:block th:fragment="full-header">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light container"><a class="navbar-brand" href="/"><img class="img-fluid" th:src="@{/image/logo-white.png}" alt="logo"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-md-end text-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" id="shop" th:text="#{ common.label.product }" href="/san-pham"></a></li>
                    <li class="nav-item"><a class="nav-link" id="news" th:text="#{ common.label.news }" href="/tin-tuc"></a></li>
                    <li class="nav-item"><a class="nav-link account-setting" id="account" href="" data-toggle="modal" data-target="#signInSignUp"></a></li>
                </ul>
            </div>
        </nav>
        <div class="content text-center">
            <h1 class="slogan main-heading text-uppercase" th:text="#{ common.label.bestThingsWith }"></h1>
            <div class="search-form justify-content-md-center d-flex">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="search-input-wrapper">
                            <input class="form-control search-input col-sm-5" type="text" th:placeholder="#{ common.label.whatLooking }"/>
                            <button class="btn btn-primary text-uppercase red-btn search-button" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>

<th:block th:fragment="short-header">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light container"><a class="navbar-brand" href="/"><img class="img-fluid" th:src="@{/image/logo-white.png}" alt="logo"/></a>
            <div class="search-form">
                <div class="search-input-wrapper">
                    <input class="form-control search-input" type="text" th:placeholder="#{ common.label.whatLooking }"/>
                    <button class="btn btn-primary text-uppercase red-btn search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-md-end text-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" id="shop" href="/san-pham" th:text="#{ common.label.product }"></a></li>
                    <li class="nav-item"><a class="nav-link" id="news" href="/tin-tuc" th:text="#{ common.label.news }"></a></li>
                    <li class="nav-item"><a class="nav-link account-setting" id="account" href="" data-toggle="modal" data-target="#signInSignUp"></a></li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>